.Rproj.user
.Rhistory
.RData
.Ruserdata

figures/Figure3.png
figures/SupplementaryFigure3a.png
figures/SupplementaryFigure3b.png
figures/SupplementaryFigure3c.png
figures/SupplementaryFigure4.png
manuscript/manuscript.docx
manuscript/SupplementaryMaterial.docx
manuscript/*.bib
